* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Overpass', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 1.5rem;
  color: hsl(217, 12%, 63%);
  background-color: hsl(216, 12%, 8%);
  /*max-width: 100%;*/
  display: flex;
  flex-direction: column;
}

.container-parent {
  flex: 1 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  flex-shrink: 0;
  padding: 1.3rem 0;
}

.container-form,
.container-thank-you {
  margin: 18rem auto 0;
  max-width: 38rem;
  background-color: hsl(213, 19%, 18%);
  border-radius: 24px;
  padding: 3rem;
}

.like-icon,
.rate-btn {
  height: 4.6rem;
  width: 4.6rem;
  background-color: hsl(213, 9%, 25%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-icon {
  margin-bottom: 3.25rem;
}

.rating-heading {
  color: hsl(0, 0%, 100%);
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2.25rem;
}

.rating-text {
  line-height: 1.6;
  margin-bottom: 3rem;
}

.rate-submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.rating-scores {
  display: flex;
  /*gap: 2rem;*/
  justify-content: space-between;
}

.rate-btn {
  font-size: 1.5rem;
  color: hsl(217, 12%, 63%);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.rate-btn:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.rate-btn:active,
.rate-btn:focus {
  background-color: hsl(216, 12%, 54%);
  color: hsl(0, 0%, 100%);
}

.submit-rating {
  text-transform: uppercase;
  padding: 1.27rem 12.45rem;
  border-radius: 50px;
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  transition: all 0.3s;
}

.submit-rating:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thank-you-content {
  text-align: center;
  padding: 4.25rem 2.5rem 5rem;
}

.thank-you-img {
  margin-bottom: 3rem;
}

.selected-rating-text {
  padding: 1rem 2rem;
  color: hsl(25, 97%, 53%);
  background-color: hsl(213, 9%, 25%);
  display: inline-block;
  margin-bottom: 3.5rem;
  border-radius: 36rem;
}

.thank-you-text {
  font-size: 1.5rem;
  line-height: 1.6;
}

.hidden {
  display: none;
  pointer-events: none;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity;
  transition-duration: 500ms;
}

.fade-in {
  opacity: 1;
  visibility: visible;
  transition-property: opacity;
  transition-duration: 500ms;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/**************************/
/* Below 425px (mobile) */
/**************************/

@media (max-width: 26.6em) {
  body,
  .rate-btn,
  .submit-rating {
    font-size: 1.4rem;
  }

  .container-form,
  .container-thank-you {
    margin: 15.4rem auto 0;
    max-width: 32.75rem;
  }

  .container-form {
    padding: 2.25rem;
  }

  .container-thank-you {
    padding: 3.5rem 3rem 4.5rem;
  }

  .rating-heading {
    font-size: 2.8rem;
  }

  .like-icon {
    margin-bottom: 2.25rem;
  }

  .rate-submit-container {
    gap: 2.25rem;
    margin-bottom: 3.25rem;
  }

  .submit-rating {
    text-transform: uppercase;
    padding: 1.41rem 0;
    text-align: center;
  }

  .selected-rating-text {
    padding: 1rem 1.1rem;
  }
}
